/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .light-background {
    background-color: #E6E6FA; 
  }
  